:root {
  --flex: flex;
  --Maritime--Blue: #27293d;
  --white: white;
  --around: space-around;
  --between: space-between;
  --evenly: space-evenly;
}

body {
  /* width: 1900px; */
  margin: 0;
  font-family: sans-serif;
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(rgb(34 128 247) 50%, rgb(50 89 244) 87%);
  /* background-color:#1e1e2e; */
  color: var(--white),
}
